html {
  font-family: Helvetica, Arial, Sans-serif;
  width: 50%;
}

header {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0px 20px 0px 5px;
}

.status {
  height: 20%;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;

}

.profile_pic {
  width: 18%;
}

.status_content {
  float: right;
  width: 80%;
}

.buttons {
  display: inline-flex;
}

.like img {
  width: 20px;
  float: left;
}

.comment img {
  width: 20px;
  float: left;
}
